
.bgNav
{
    background:linear-gradient(to right , #e0bd8e,#ed6436);
    font-size: 20px;
    font-weight: bolder;
    color: black;
}
a{
    text-decoration: none;
    color: white;
}
.mat-badge-content {
    color: #281d1d !important;
    background: #fffdfd !important;
}