.bgRegister
{
    background-image: url(../../assets/banner-for-all2.jpg);
    background-position: center;
    background-size: cover;
}
.formRegiter
{
    background-color: white;
    box-shadow: -5px 2px 54px -9px rgba(75, 75, 75, 0.2);
    border-radius: 10px;
    width: 50%;
}
.regist
{
    background:linear-gradient(to right , #cf9163, #e2985f);
    border-radius: 15px;
    color: white;
}