*{
    font-family: "Playfair Display", serif;
}
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.color{
    color: #ed6436;;
}
.star{
    color: rgb(233, 161, 6);
}